*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  position: relative;
}

video {
  display: block;
  width: 100%;
}

.video-component {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 12px;
}

.btn {
  border: none;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
}

.btn-play {
  background-color: crimson;
  color: white;
}

.btn-pause {
  background-color: darkred;
  color: white;
}

.btn-minimize {
  background-color: blueviolet;
  color: white;
}

.btn-fullscreen {
    background-color: greenyellow;
    color: white;
  }